In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\\Users\\amarn\\HACKTHON\\UBER.csv")

In [3]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

## What is the shape of given dataset?

In [4]:
df.shape

(200000, 8)

## How many integer columns(by default) are given in the dataset?

In [5]:
column = df.dtypes
integer_columns = column[column == 'int64']  

num_integer = len(integer_columns)
print(num_integer)

2

## How many issing values exists in 'dropoff_longitude' column?

In [6]:
missing_values = df['dropoff_longitude'].isna().sum()
print(missing_values)

1

## What is the data type of ' pickup_datetime' feature in your data?

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [8]:
a=df['pickup_datetime'].dtype

In [9]:
a

dtype('O')

## Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

In [ ]:
pd.to_datetime(df['pickup_datetime'])

## Which function can be used to remove null values from the dataframe?

In [10]:
df.dropna()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

## What is the average fare amount?

## Remove the null values from the dataframe to answer the following question.

In [12]:
a = df.dropna(subset=['fare_amount'])
average_fare = a['fare_amount'].mean()

print(f"Average fare amount: {average_fare}")

Average fare amount: 11.359955250000002

## Calculate distance between each pickup and dropoff points using Haversine formula. 
## What is the median haversine distance between pickup and dropoff location according to the given dataset?
## Read about Haversine Distance here:

In [15]:
def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1 = np.radians(lat1)
    lon1 = np.radians(lon1)
    lat2 = np.radians(lat2)
    lon2 = np.radians(lon2)
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance = R * c

    return distance
df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)
median_haversine_distance = df['haversine_distance'].median()
median_haversine_distance

2.1209923961833708

## What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [18]:
haversine_distance = df['haversine_distance'].max()
haversine_distance

16409.239135313168

## How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

In [19]:
distance_rides = (df['haversine_distance'] == 0.0).sum()

distance_rides

5632

## What is the mean 'fare_amount' for rides with 0 haversine distance?
## Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook

In [22]:
distance_rides = df[df['haversine_distance'] == 0.0]
mean_fare_zero_distance_rides = distance_rides['fare_amount'].mean()

mean_fare_zero_distance_rides

11.585317826704546

## What is the maximum 'fare_amount' for a ride?

In [24]:
max_fare_amount = df['fare_amount'].max()
max_fare_amount

499.0

## What is the haversine distance between pickup and dropoff location for the costliest ride?

## Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook

In [25]:
costliest_ride = df['fare_amount'].idxmax()
haversine_distance_costliest_ride = df.at[costliest_ride, 'haversine_distance']
haversine_distance_costliest_ride

0.0007899213191009994

## How many rides were recorded in the year 2014?

In [26]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['pickup_year'] = df['pickup_datetime'].dt.year
rides_in_2014 = (df['pickup_year'] == 2014).sum()
rides_in_2014

29968

## How many rides were recorded in the first quarter of 2014?

In [27]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['pickup_year'] = df['pickup_datetime'].dt.year
df['pickup_quarter'] = df['pickup_datetime'].dt.quarter
rides_in_q1_2014 = ((df['pickup_year'] == 2014) & (df['pickup_quarter'] == 1)).sum()
rides_in_q1_2014

7687

## On which day of the week in September 2010, maximum rides were recorded ?

In [28]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

df['pickup_year'] = df['pickup_datetime'].dt.year
df['pickup_month'] = df['pickup_datetime'].dt.month
df['pickup_day'] = df['pickup_datetime'].dt.day_name()
rides_in_september_2010 = (df['pickup_year'] == 2010) & (df['pickup_month'] == 9)
max_rides_day = df[rides_in_september_2010]['pickup_day'].mode()[0]
max_rides_day

'Thursday'

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
import statsmodels.api as sm